.footer{
    width: 100%;
}
.sidebar{
    padding: 50px 0;
    ul {
        margin: 20px 0;
    }
    li {
        margin: 30px 0;
    }
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}